.bottom-btn {
    height: 62px;
    background-color: #fff;
    border: 0;
    border-radius: 20px;
    padding-inline: 27px;
    font-size: 18px;
    color: #444E72;
}

.bottom {
    display: flex;
    justify-content: center;
    padding-bottom: 36px;
}

.bottomimage {
    vertical-align: middle;
    margin-left: 20px;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
}